{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner list">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Reading</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="title">Title:</label>
					<input type ="text" maxlength="50" class="form-control" name="title"placeholder="Reading title">

					<label for="synopsis">Synopsis:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="synopsis" placeholder="Synopsis"></textarea>

					<label for="author">Author:</label>
					<input type ="text" maxlength="50" class="form-control" name="author" placeholder="Author">
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-book" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

