{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-bar">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right"></div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-5 padding-none">
			<h1>Domains</h1>
		</div>
		<div class="col-md-6 padding-none">
			<img src="{{url_for('static', filename='top-banner.jpg')}}" class="pull-right" alt="Image">
		</div>
	</div>


	<div class = 'flash'> 
			      {% with messages = get_flashed_messages() %}
	      {% if messages %} 
	          
	        <ul> 
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('addDomain')}}">
				<button class="btn btn-default" id="new-domain">
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Add Domain
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for domain in domains %}
		<a href = "{{url_for('showReadings', domain_id = domain.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 readings-list">
						<h3>{{domain.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}